body { 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header { 
    width: 100%;
    background-color: #f2f2f2; 
    padding: 10px;
    box-sizing: border-box;
    text-align: center; 
}

.button-container { 
    margin: 10px 0;
    display: flex;
    justify-content: center; 
}

.option-buttons { 
    margin: 60px 0;
    display: flex;
    justify-content: center;
}

.custom-button, .option-buttons button { 
    padding: 10px 20px; 
    cursor: pointer;
    margin: 0 5px; /* Adds spacing between buttons */
    border: 1px solid #ccc; /* Adds border to buttons */
    background-color: #fff;
}

.custom-button:active, .option-buttons button:active { 
    background-color: #ddd; /* Color when button is clicked */
}

/* Style for the active button */
.custom-button.active, .option-buttons button.active { 
    background-color: #555;
    color: white;
}

.form-container {
    width: 80%;
    max-width: 800px; /* Adjust the max-width as needed */
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h2 {
    align-self: flex-start;
}

/* Ensures inputs and labels are aligned properly */
.form-container form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    align-items: center;
}

/* Adjust the label width as needed */
.form-container label {
    margin-top: 10px;
}

/* Styles for input fields */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="date"],
.form-container input[type="tel"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style for submit buttons */
.form-container input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5c6bc0;
    color: white;
    cursor: pointer;
}

.modifyButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5c6bc0;
    color: white;
    cursor: pointer;
}
